@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Project1.App.Models.OrderViewModel>;

@{
    ViewData["Title"] = "Order";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <div class="card-deck">

        @foreach (var item in Model)
        {
        <div class="card" style="width: 18rem;">
            <div class="card-Title">
                Featured
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.DisplayNameFor(modelItem => item.ID):@Html.DisplayFor(model => item.ID)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => item.CustomerName):@Html.DisplayFor(model => item.CustomerName)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => item.Location):@Html.DisplayFor(model => item.Location)</li>
                <li class="list-group-item">
                    @Html.DisplayNameFor(model => item.PurchaseDate):@Html.DisplayFor(model => item.PurchaseDate)
                </li>
            </ul>
            <a class="btn btn-primary" asp-controller="Customer" asp-action="OrderDetail" asp-route-id=@item.ID>Order Detail</a>
        </div>
        }
       </div>
    </div>
<div>
</div>